py-tgcalls
pyrogram
git+https://github.com/yt-dlp/yt-dlp@master
bs4
beautifulsoup4
requests
python-dotenv
youtube-dl
youtube-search-python
TgCrypto
aiohttp[speedups]
gitpython
pytz
APScheduler